# EditorConfig helps developers define and 
# maintain consistent coding styles between 
# different editors and IDEs

# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 3

[*.{proj,csproj,vcxproj,xproj,json,config}]
indent_style = space
indent_size = 3